{% extends 'baseDashSecurity.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                    <div class="col mx-auto">
                        <div class="mb-4 text-center">
                            <img src="{{ asset('dashAssets/images/logo.png') }}" width="180" alt="" />
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="border p-4 rounded">
                                    <div class="text-center">
                                        <h3 class="">{{ 'Sign in'|trans }}</h3>
                                        <p>{% trans %}Don't have an account yet?{% endtrans%} <a href="{{ path('app_register_seller') }}">{{ 'Sign up here'|trans }}</a>
                                        </p>
                                    </div>
                                    <div class="form-body">
                                        {% if error %}
                                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}
                                        <form class="row g-3" method="post" >
                                            <div class="col-12">
                                                <label for="inputUsername" class="form-label">{{ 'Username'|trans }}</label>
                                                <input type="text" value="{{ last_username }}" name="_username" id="inputUsername"  class="form-control"  placeholder="Username">
                                            </div>
                                            <div class="col-12">
                                                <label for="inputChoosePassword" class="form-label">{{ 'Password'|trans }}</label>
                                                <div class="input-group" id="show_hide_password">
                                                    <input type="password" class="form-control border-end-0" name="_password" id="inputChoosePassword" autocomplete="current-password" required  placeholder="Enter Password"> <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
                                                </div>
                                            </div>
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >
                                            <div class="col-md-6 text-end">	<a href="javascript:;">{% trans %}Forgot Password ?{% endtrans %}</a>
                                            </div>
                                            <div class="col-12">
                                                <div class="d-grid">
                                                    <button type="submit" class="btn btn-primary"><i class="bx bxs-lock-open"></i>{{ 'Sign in'|trans }}</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row-->
            </div>
        </div>
    </div>
{% endblock %}
