<ul class="metismenu" id="menu">
    <li>
        <a href="{{ path('dashboard_seller') }}" class="has-arrow">
            <div class="parent-icon"><i class='bx bx-home-circle'></i>
            </div>
            <div class="menu-title">Dashboard</div>
        </a>
    </li>
    <li>
        <a href="javascript:;" class="has-arrow">
            <div class="parent-icon"><i class='bx bx-package'></i>
            </div>
            <div class="menu-title">{{ 'Products'|trans }}</div>
        </a>
        <ul>
            <li> <a href="{{ path('seller_products_list') }}"><i class="bx bx-right-arrow-alt"></i>{{ 'All Products'|trans }}</a></li>
            <li> <a href="{{ path('seller_products_new') }}"><i class="bx bx-right-arrow-alt"></i>{{ 'Add Product'|trans }}</a></li>
        </ul>
    </li>
    <li>
        <a class="has-arrow" href="javascript:;">
            <div class="parent-icon"><i class='bx bx-cart'></i>
            </div>
            <div class="menu-title">{{ 'Orders'|trans }}</div>
        </a>
        <ul>
            <li> <a href="{{ path('seller_orders_all') }}"><i class="bx bx-right-arrow-alt"></i>{{ 'All Orders'|trans }}</a></li>
        </ul>
    </li>

    <li>
        <a class="has-arrow" href="javascript:;">
            <div class="parent-icon"><i class='bx bx-category'></i>
            </div>
            <div class="menu-title">{{ 'Sliders'|trans }}</div>
        </a>
        <ul>
            <li> <a href="{{ path('seller-sliders-list') }}"><i class="bx bx-right-arrow-alt"></i>{{ 'Sliders'|trans }}</a></li>
        </ul>
    </li>
</ul>