<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="author" content="pixelstrap">
    <meta name="description" content="Reno | The online tools store HTML Templates from pixelstrap">
    <meta name="keywords" content="Reno | The online tools store HTML Templates from pixelstrap">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Site Title -->
    <title>{% block title %}Tajeer{% endblock %}</title>

    <!-- Fav icon -->
    <link rel="shortcut icon" href="{{ asset('assets/images/ecommerce/Favicon.png') }}">

    <!-- Font Family-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">

    <!-- Themify icon -->
    <link rel="stylesheet" href="{{ asset('assets/css/themify.css') }}">

    <!-- Flat icon icon -->
    <link rel="stylesheet" href="{{ asset('assets/css/flaticon.css') }}">

    <link href="{{ asset('dashAssets/css/icons.css') }}" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">

    <!-- Animation CSS -->
    <link rel="stylesheet" href="{{ asset('assets/css/animate.min.css') }}">

    <!-- Owl carousel css-->
    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.min.css') }}">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/slick.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/slick-theme.css') }}">

    <!-- zoom css-->
    <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">

    <!-- Style css-->
    <link rel="stylesheet" type="text/css"  href="{{ asset('assets/css/color5.css') }}"  media="screen" id="color">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/whatsapp-widget@1.2.0/dist/css/whatsapp-widget.min.css">

    {% block stylesheets %}{% endblock %}

</head>

<body>

<!-- loader start -->
<div class="loader-wrapper">
    <div class="loader">
        <div></div>
    </div>
</div>
<!-- loader end -->

<div class="ecommerce-layout">

    {% block header %}
        {% include 'frontOffice/master/index_header.html.twig' %}
    {% endblock %}

    <div class="main-body">
        <div class="container">
            <div class="row">
                <!-- sidebar Section Start -->
                <div class="col-lg-3 sidebar ecommerce-sidebar">

                    <div class="theme-card hanger">
                        <div class="stiky angle-b-left"></div>
                        <div class="stiky angle-b-right"></div>
                        <div class="collection-filter-block cat-block">
                            {{ render(controller('App\\Controller\\DefaultController::categories')) }}
                        </div>
                    </div>
                    {% block leftSideBar %}

                    {% endblock %}
                </div>
                <!-- sidebar Section end -->
                <div class="col-lg-9">
                   {% block slider %}

                    {% endblock %}

                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- Newsletter Start -->
    <section class="newsletter_sec newsletter-ecommerce">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-6 bdr_right">
                            <div class="call_us">
                                <div class="phone_img">
                                    <svg viewBox="-30 0 512 512"  xmlns="http://www.w3.org/2000/svg">
                                        <path d="m452 226c0-60.367188-23.507812-117.121094-66.191406-159.804688-42.6875-42.6875-99.441406-66.195312-159.808594-66.195312s-117.121094 23.507812-159.808594 66.195312c-42.683594 42.683594-66.191406 99.4375-66.191406 159.804688v166h59.875v30h30c33.085938 0 60-26.914062 60-60v-105c0-33.085938-26.914062-60-60-60h-30v30h-29.875v-1c0-28.597656 6.160156-55.785156 17.21875-80.304688 9.40625 4.015626 19.453125 6.007813 29.484375 6.007813 19.367187 0 38.664063-7.402344 53.132813-21.867187 25.683593-25.691407 59.835937-39.835938 96.164062-39.835938s70.480469 14.144531 96.164062 39.832031c21.957032 21.957031 55.035157 27.628907 82.617188 15.859375 11.058594 24.519532 17.21875 51.707032 17.21875 80.308594v1h-30v-30h-29.875c-33.085938 0-60 26.914062-60 60v105c0 33.042969 26.847656 59.929688 59.875 60v15c0 24.8125-20.1875 45-45 45h-18.578125c1.664063-4.695312 2.578125-9.742188 2.578125-15 0-24.8125-20.1875-45-45-45h-60c-24.8125 0-45 20.1875-45 45s20.1875 45 45 45h121c41.355469 0 75-33.644531 75-75v-45h60zm-362.125 1c16.542969 0 30 13.457031 30 30v105c0 16.542969-13.457031 30-30 30zm-30 30v105h-29.875v-105zm283.503906-148.378906c-31.351562-31.355469-73.039062-48.621094-117.378906-48.621094s-86.027344 17.265625-117.382812 48.621094c-12.46875 12.46875-30.910157 16.1875-46.871094 10.5625 35.007812-53.648438 95.554687-89.183594 164.253906-89.183594s129.246094 35.535156 164.253906 89.183594c-15.960937 5.625-34.402344 1.90625-46.875-10.5625zm-147.378906 373.378906c-8.269531 0-15-6.730469-15-15s6.730469-15 15-15h60c8.269531 0 15 6.730469 15 15s-6.730469 15-15 15zm166-90c-16.484375-.066406-29.875-13.5-29.875-30v-105c0-16.5 13.390625-29.933594 29.875-30zm30-30v-105h30v105zm0 0"/></svg>
                                </div>
                                <div class="con_text">
                                    <h4>{{ 'Call us'|trans }}</h4>
                                    <h6>+212 601249246</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Newsletter End -->
    {% block footer%}
        {% include 'frontOffice/master/footer.html.twig' %}
    {% endblock %}

    <!-- Quick-view modal popup start-->
    <div class="modal fade bd-example-modal-lg theme-modal" id="quick-view" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content quick-view-modal">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            <div class="quick-view-img">
                                <img src="assets/images/pro/9.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 rtl-text">
                            <div class="product-right">
                                <h2>Hammer Drill</h2>
                                <h3>$32.96</h3>
                                <div class="border-product">
                                    <h6 class="product-title">product details</h6>
                                    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                                </div>
                                <div class="product-description border-product">
                                    <div class="size-box">
                                        <ul>
                                            <li class="active"><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                        </ul>
                                    </div>
                                    <h6 class="product-title">quantity</h6>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-left-minus" data-type="minus" data-field="">
                                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                            <input type="text" name="quantity" class="form-control input-number" value="1">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-right-plus" data-type="plus" data-field="">
                                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-buttons">
                                    <a href="#" class="btn btn-solid">add to cart</a>
                                    <a href="#" class="btn btn-solid">view detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quick-view modal popup end-->
    <form id="whatsapp" class="wa-widget" action="00212601249246" data-chat="whatsapp"></form>
    
    <style>
        .wa-widget{
            margin-bottom:60px !important;
        }
        .wa-widget-toggle{
            justify-content: center !important;
        }
    </style>

</div>
    
<!-- js file -->
<script src="{{ asset('assets/js/jquery-3.3.1.min.js') }}"></script>

<!-- zoom js file -->
<script src="{{ asset('assets/js/jquery.magnific-popup.js') }}"></script>

<!-- popper js file -->
<script src="{{ asset('assets/js/popper.min.js') }}"></script>

<!-- bootstrap js file -->
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

<!-- Owl carousel js file-->
<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>

<!-- menu js-->
<script src="{{ asset('assets/js/menu.js') }}"></script>

<!-- Counter Js File -->
<script src="{{ asset('assets/js/jquery.counterup.min.js') }}"></script>
<script src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>

<!-- slick js-->
<script src="{{ asset('assets/js/slick.js') }}"></script>

<!-- script js file -->
<script src="{{ asset('assets/js/script.js') }}"></script>

<!-- ecommerce js file -->
<script src="{{ asset('assets/js/ecommerce.js') }}"></script>

<!-- my script js file -->
<script src="{{ asset('assets/js/myScript.js') }}"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/whatsapp-widget@1.2.0/dist/js/whatsapp-widget.min.js"></script>
    <script>


        var chat = new WhatsAppWidget(document.getElementById('whatsapp'), {
            name: 'Yassine',
            division: '',
            photo: 'https://tajeer.online/assets/images/ecommerce/logo.png',
            introduction: 'Bonjour, comment pouvons-nous vous aider ?'
        }, [{
            data: 'name',
            type: 'text',
            required: true
        }, {
            data: 'email',
            type: 'email',
            required: true
        }, {
            data: 'message',
            type: 'text',
            required: true
        }]);
    </script>
    
    <script>
        var b = document.getElementsByClassName("wa-widget-toggle");
        var g = document.createElement('img');
        g.setAttribute("src", "https://cdn-icons-png.flaticon.com/512/174/174879.png");
        g.setAttribute("width", "32");
        g.setAttribute("height", "32");
        b[0].appendChild(g);
        
    </script>
{% block javascripts %}{% endblock %}

</body>
</html>
