<a href="{{ path('customer-orders-history') }}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ 'Order History'|trans }}</a>
<a href="{{ path('customer-account-info') }}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ 'Account Settings'|trans }}</a>
<a href="{{ path('security_logout') }}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ 'Logout'|trans }}</a>