{% extends 'baseDash.html.twig' %}

{% block body %}

    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">{{ 'Exclusive Collection'|trans }}</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ 'List'|trans }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--end breadcrumb-->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-xl-2">
                            <a href="{{ path('admin_exclusive_col_add') }}" class="btn btn-primary mb-3 mb-lg-0"><i class="bx bxs-plus-square"></i>{{ 'Add Product'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-12 mx-auto">
            <div class="card">
                <div class="card-body">
                    {% for type,messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }} border-0 bg-{{ type }} alert-dismissible fade show py-2">
                                <div class="d-flex align-items-center">
                                    <div class="font-35 text-white">
                                        {% if type =="success" %}
                                            <i class="bx bxs-check-circle"></i>
                                        {% else %}
                                            <i class="bx bxs-message-square-x"></i>
                                        {% endif %}
                                    </div>
                                    <div class="ms-3">
                                        <h6 class="mb-0 text-white">{{ type }}</h6>
                                        <div class="text-white">{{ message }}</div>
                                    </div>
                                </div>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <div class="card-title d-flex align-items-center">
                        <h5 class="mb-0 text-primary">{{ 'Exclusive Collection'|trans }}</h5>
                    </div>

                    <div class="table-responsive">
                        <table id="example" class="table mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>{{ 'Product Name'|trans }}</th>
                                <th>{{ 'Seller'|trans }}</th>
                                <th>{{ 'Created At'|trans }}</th>
                                <th>{{ 'View Details'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.seller.storeName }}</td>
                                    <td>{{ product.createdAt |date("d/m/Y") }}</td>
                                    <td>
                                        <a href='javascript:void(0)' class="ms-3" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick='deleteAction("{{ path('admin_exclusive_col_delete',{'slug':product.slug }) }}")'><i class="fa fa-trash-alt ms-2 text-danger"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end row-->
    <div class="row row-cols-auto g-3">
        <div class="col">
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{'Delete Confirm !'|trans}}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">{{ 'Do you really want to delete ?'|trans }}</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ 'Close'|trans }}</button>
                            <a href="#" id="linkDelete" type="button" class="btn btn-primary">{{ 'Delete'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%  endblock %}
